* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.carousel-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.prev:hover, .next:hover{
  color: white;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color:  rgba(145, 145, 145, 0.4);
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Spazio tra foto principale e griglia */
.caption-container {
  text-align: center;
  background-color: #ffffff;
  padding: 2px 16px;
  color: #ffffff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}