.copertina{
    width: 100%;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    
  }
  .google-maps > iframe {
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 60% !important;
  }

.carousel-riquadro{
  text-align: center;
}

.carousel-immagine{
  width: 100%;
}

.carousel{
  border-style: solid;
  border-color: #404040;
  background-color: white;
  max-width: 500px;
  margin: 0px auto;
  
}

.carousel-inner{
  padding: 15px;
}