@media screen and (min-width: 768px) {
  .copertina{
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .copertina{
    max-width: 200%;
    position: relative;
    left: -100%;
  }
}

.google-maps {
  position: relative;
  height: 400px !important;
  width: 100% !important;
  overflow: hidden;
  background-color: #f7f7f7;
}

.google-maps > iframe {
  position: absolute;
  width: 100% !important;
  height: 400px !important;
}

.carousel-riquadro{
  text-align: center;
}

.carousel-immagine{
  width: 100%;
}

.carousel{
  border-style: solid;
  border-color: #404040;
  background-color: white;
  max-width: 500px;
  margin: 0px auto;
  
}

.carousel-inner{
  padding: 15px;
}

.freccia-destra{
  background-image: url(images/icons/arrow-drop-right-line.svg);
}

.freccia-sinistra{
  background-image: url(images/icons/arrow-drop-left-line.svg);
}