.copertina{
    width: 100%;
}
.google-maps {
  position: relative;
  height: 400px !important;
  width: 100% !important;
  overflow: hidden;
  background-color: #f7f7f7;
}

.google-maps > iframe {
  position: absolute;
  width: 100% !important;
  height: 400px !important;
}
