nav{
    background-color: #333333;
}

.nav-link{
    color: #ffffff !important;
}
@media screen and (max-width: 767px) {
    .navbar-collapse.collapse.show {
        display: block!important;
    }
  
    .navbar-nav {
        float: none!important;
        margin: 7.5px 0px!important;
    }
  
    .navbar-nav>li {
        float: none;
    }
}