nav{
  background-color: #161616f9;
}

.nav-link{
    color: #ffffff !important;
}

.nav-link:hover{
    color: #ccc !important;
}

.btn-prenota{
    background-color: #333333 !important;
    color: white !important;
}

@media screen and (max-width: 767px) {
    .navbar-collapse.collapse.show {
        display: block!important;
    }
  
    .navbar-nav {
        float: none!important;
        margin: 7.5px 0px!important;
    }
  
    .navbar-nav>li {
        float: none;
    }
}
@media screen and (min-width: 768px) {
    .navbar-collapse {
        padding: 0 70px;
    }
}